/** 颜色 */

$color-white: #fff;
$color-grey: #d9d9d9;
$colo-lighten: #888;
$colo-darken: #333;

$default-color: #656b79;
$primary-color: #26a2ff;
$success-color: #4caf50;
$error-color: #f6584b;
$warning-color: #ffc107;

$border-color: #e2e2e2;


$btn-default-background-color: #f6f8fa;

$margin-height:15px